.das-nav-wrapper {
  transition: 0.5s all;
}

.rane-date.w-input {
  color: white;
}

.das-drop-nav {
  transition: 0.5s all;
}

.das-tb-cell.block {
  display: block;
}

.drop-text {
  margin-right: auto;
}

.das-drop-list {
  z-index: 5;
}

.das-tb-cell._40.block {
  display: block;
}

.das-drop-list {
  top: -130px;
}

.das-tb-ceck {
  height: 20px;
}

.das-main {
  overflow: clip;
  width: 100%;
}

.das-icons-top {
  cursor: pointer;
}

.cover,
.eac-blo,
.eac-staff-rid,
.eac-footer-link,
.footer-link-box,
.footer-link-line,
.ome-blo-title,
.site-socials {
  transition: 0.5s all;
}

.flex-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.maint-overlay {
  opacity: 0;
  transition: 0.5s all;
}

.maint-overlay.active {
  opacity: 1;
}

.nuxt-link-exact-active {
  color: #56b13d;
}

.ck.ck-editor {
  width: 100%;
}

.nav-links.staff {
  cursor: pointer;
}

.payment-description {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.profile-pix.sm {
  font-weight: 500;
  width: 50px;
  height: 50px;
  font-size: 25px;
}

.rane-date.search {
  color: white;
}

.send-email-wrap {
  align-items: center;
}

.sinup-ceck {
  margin-right: 10px;
}

.spinner {
  animation: spin 1s linear infinite;
}

.stats-cover {
  background-color: rgba(255, 65, 65, 0.5);
}

.stock-input {
  width: 50px;
  border: 1px solid wheat;
}

.rane-date.trx-note {
  color: white;
}

textarea.rane-date.trx-note {
  color: white;
  margin-right: auto;
}

.trans-approve.pad {
  margin-right: 0px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 991px) {
  .nav-flex {
    transition: 0.5s all;

    top: 80px;
  }
}
