:root {
  --ash-text: #aab0bf;
  --white: white;
  --custom-reen: #ff4141;
  --dark-blue: #2a3247;
  --black: black;
  --smoke: #f4f5f4;
  --as-dark: #888;
  --smoke-as: whitesmoke;
  --custom-yellow: #ff4141;
  /* --custom-yellow: #d1ca4c; */
  --darker-blue: #151239;
}

.nav-links.staff {
  background-color: var(--custom-reen);
  color: var(--white);
  border-radius: 0;
  margin-left: auto;
  margin-right: 0;
  padding: 10px 30px;
  display: inline-block;
}

.nav-links.active {
  color: var(--custom-reen);
}

.custom-btn {
  background-color: var(--custom-reen);
  color: var(--white);
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
}

.custom-btn.trans {
  background-color: var(--white);
  color: var(--custom-reen);
}

.year-flex {
  color: var(--custom-reen);
  margin-bottom: 10px;
  display: flex;
}

.ab-intro {
  color: var(--custom-reen);
  margin-bottom: 10px;
}

.modus-box {
  background-color: var(--custom-reen);
  justify-content: center;
  align-items: center;
  width: 80px;
  min-width: 70px;
  height: 70px;
  margin-right: 20px;
  display: flex;
}

.ome-service-intro {
  color: var(--custom-reen);
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 600;
}

.service-title.active {
  color: var(--custom-reen);
}

.service-subtitle {
  color: var(--as-dark);
  font-size: 16px;
}

.service-read-more {
  z-index: 2;
  background-color: var(--dark-blue);
  color: var(--white);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  text-decoration: none;
  display: flex;
  position: absolute;
  bottom: -37px;
}

.service-read-more.wite {
  background-color: var(--white);
  color: var(--custom-reen);
  top: 30px;
  bottom: auto;
  left: auto;
  right: 30px;
}

.service-read-more.reen {
  background-color: var(--custom-reen);
  top: 10px;
  bottom: auto;
  left: auto;
  right: 10px;
}

.maintenance-intro {
  color: var(--custom-reen);
  margin-bottom: 10px;
  font-weight: 600;
}

.border-overlay {
  border: 1px solid var(--custom-reen);
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  display: flex;
  position: relative;
}

.title-sm {
  color: var(--custom-reen);
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

.process-arrow-flex {
  color: var(--custom-reen);
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 600;
  line-height: 55px;
  display: flex;
}

.scroll-up.cart {
  opacity: 0;
  color: var(--custom-reen);
  width: 0;
  height: 0;
  text-decoration: none;
  left: 20px;
  right: auto;
  overflow: hidden;
}

.dis-link.active {
  color: var(--custom-reen);
}

.dis-link-icon {
  height: 25px;
  margin-top: 10px;
}

.dis-box-icon {
  width: 25px;
}

.display-rit {
  width: 33.33%;
  position: relative;
  overflow: hidden;
}

.horizontal-display {
  width: 100%;
  height: 300px;
  margin-top: 25px;
  position: relative;
  overflow: hidden;
}

.stat-bar {
  background-color: var(--custom-reen);
  width: 62%;
  height: 10px;
  margin-top: 10px;
}

.eac-staff-rid {
  height: 400px;
  position: relative;
}

.rid-color {
  background-color: var(--custom-reen);
  width: 0%;
  height: 0%;
  position: absolute;
  top: -10px;
  bottom: auto;
  left: -10px;
  right: auto;
}

.ome-blo-date {
  background-color: var(--custom-reen);
  color: var(--white);
  padding: 10px;
  position: absolute;
  top: -20px;
  bottom: auto;
  left: 20px;
  right: auto;
}

.ome-blo-details {
  color: var(--as-dark);
  font-weight: 400;
  display: flex;
}

.ome-blo-icon {
  width: 18px;
  min-width: 18px;
  margin-right: 10px;
}

.blo-det-text {
  margin-right: 20px;
}

.ome-blo-title {
  color: var(--dark-blue);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-decoration: none;
  display: block;
}

.ome-blo-title.active {
  color: var(--custom-reen);
}

.blo-pix {
  height: 200px;
  position: relative;
  overflow: hidden;
}

.cover {
  z-index: 1;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cover.active {
  opacity: 1;
}

.cover.blur {
  z-index: 10;
  background-color: #e91a1a;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.ome-read-more {
  background-color: var(--white);
  color: var(--dark-blue);
  width: 160px;
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.read-blo-icon {
  width: 20px;
  margin-right: 10px;
}

.ome-subscribe {
  justify-content: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.sub-cover {
  z-index: 2;
  background-image: linear-gradient(
    180deg,
    #1e2434,
    rgba(138, 141, 149, 0) 20%,
    var(--dark-blue) 74%
  );
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.sub-older {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  display: flex;
}

.sub-input-older {
  background-color: var(--white);
  width: 31%;
  padding: 10px;
  display: flex;
}

.sub-input-older.btn {
  background-color: var(--custom-reen);
  color: var(--white);
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 18px;
}

.sub-input {
  border: 0 solid #000;
  margin-bottom: 0;
  padding: 5px 10px;
}

.sub-icon {
  width: 20px;
  margin-left: 10px;
}

.sub-icon-top {
  width: 60px;
  margin-bottom: 20px;
}

.ome-footer {
  background-color: var(--dark-blue);
  color: var(--ash-text);
  flex-flow: wrap;
  justify-content: center;
  font-size: 16px;
  line-height: 21px;
  display: flex;
}

.eac-footer-sect {
  width: 25%;
  padding-right: 10px;
}

.foot-title {
  line-height: 22px;
}

.foot-title.top {
  color: var(--white);
  font-size: 18px;
}

.foot-title.news {
  color: var(--white);
  margin-top: 5px;
}

.foot-email {
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  display: flex;
}

.foot-email-icon {
  width: 35px;
  margin-right: 10px;
}

.foot-email-link {
  color: var(--ash-text);
  text-decoration: none;
}

.footer-line {
  background-color: var(--custom-reen);
  width: 10px;
  height: 2px;
  margin-right: 10px;
}

.footer-line.lon {
  width: 50px;
}

.footer-line-flex {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
}

.eac-footer-link {
  color: var(--ash-text);
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  text-decoration: none;
  display: flex;
}

.eac-footer-link.active {
  color: var(--custom-reen);
}

.eac-footer-link.news {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}

.footer-link-line {
  background-color: var(--custom-reen);
  width: 0;
  height: 1px;
  position: relative;
  top: 7px;
  left: 7px;
}

.footer-link-line.active {
  width: 15px;
}

.footer-link-box {
  border: 1px solid var(--as-dark);
  width: 15px;
  height: 15px;
  margin-right: 20px;
  position: relative;
}

.footer-link-box.active {
  border-color: var(--custom-reen);
}

.footer-copy {
  border-top: 1px solid #525252;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  display: flex;
}

.hero {
  justify-content: center;
  min-height: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.ero-cover {
  z-index: 1;
  background-image: linear-gradient(0deg, #2a3247, rgba(0, 0, 0, 0));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.ero-title {
  color: var(--white);
  text-align: center;
  width: 100%;
  font-size: 50px;
  font-weight: 600;
  line-height: 55px;
}

.ero-link {
  color: var(--white);
  text-transform: uppercase;
  margin-top: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 23px;
}

.ero-text-link {
  color: var(--white);
  text-decoration: none;
}

.ero-text-link.active {
  color: var(--custom-reen);
}

.about-sect {
  justify-content: center;
  padding-bottom: 40px;
  display: flex;
}

.about-sect.serv {
  background-color: #f4f5f4;
}

.about-pix {
  width: 48%;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}

.about-flex {
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
  display: flex;
}

.about-rit {
  text-align: left;
  width: 50%;
}

.sub-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}

.sub-title.border {
  border-bottom: 2px solid #eaeaea;
}

.about-ceck {
  width: 35px;
  margin-bottom: 20px;
}

.eac-sub-about {
  flex-flow: column;
  align-items: flex-start;
  width: 48%;
  display: flex;
}

.about-sub-flex {
  justify-content: space-between;
  display: flex;
}

.sin-flex {
  align-items: center;
  display: flex;
}

.sinature {
  width: 120px;
}

.about-founder {
  border-left: 1px solid #e3e3e3;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}

.founder {
  color: var(--custom-reen);
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
}

.statement-sect {
  z-index: 2;
  justify-content: center;
  min-height: 0;
  display: flex;
  position: relative;
  overflow: visible;
}

.statement-cover {
  z-index: 1;
  background-image: linear-gradient(270deg, #fff 21%, rgba(0, 0, 0, 0) 75%);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.statement-flex {
  flex-flow: column;
  min-height: 90vh;
  display: flex;
}

.statement-nav {
  display: flex;
  position: relative;
  top: -53px;
  box-shadow: 0 2px 30px 2px rgba(0, 0, 0, 0.2);
}

.statement-nav-item {
  background-color: var(--white);
  cursor: pointer;
  justify-content: flex-start;
  width: 33.33%;
  padding: 30px;
  display: flex;
}

.statement-nav-item.active {
  background-color: var(--dark-blue);
  color: var(--white);
}

.statement-nav-item.mid {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.statement-nav-icon {
  width: 40px;
  margin-right: 20px;
}

.statement-nav-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}

.statment-nav-intro {
  color: var(--custom-reen);
  margin-bottom: 5px;
  font-weight: 500;
}

.statement-body {
  border-top: 5px solid var(--custom-reen);
  background-color: var(--white);
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding: 30px;
  box-shadow: 0 2px 30px 2px rgba(0, 0, 0, 0.2);
}

.statement-color {
  color: var(--custom-reen);
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.statement-items {
  margin-bottom: 10px;
  display: flex;
}

.statement-icon {
  width: 18px;
  margin-right: 20px;
}

.istory-top {
  background-color: var(--custom-reen);
  justify-content: center;
  display: flex;
}

.istory-top-flex {
  color: var(--white);
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.subtitle {
  max-width: 600px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.istory-slider {
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  padding-bottom: 40px;
}

.istory-mask {
  height: auto;
  top: -41px;
}

.istory-slides {
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
}

.istory-slide-sect {
  justify-content: center;
  display: flex;
}

.istory-slide-wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.slide-box {
  border: 1px solid var(--ash-text);
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  display: flex;
}

.slide-inner-box {
  background-color: var(--custom-reen);
  width: 10px;
  height: 10px;
}

.slide-box-txt {
  color: var(--white);
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.istory-v-line {
  background-color: #eaeaea;
  width: 1px;
  height: 30px;
}

.istory-body {
  text-align: center;
  border: 1px solid #eaeaea;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  display: flex;
}

.istory-pix {
  border: 0 #eaeaea;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.left-arrow-3,
.right-arrow-3,
.istory-slide-nav {
  display: none;
}

.reasons {
  background-color: #1e2434;
  justify-content: center;
  align-items: center;
  display: flex;
}

.reasons-flex {
  min-height: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.reasons-left {
  width: 30%;
}

.reasons-rit {
  flex-flow: wrap;
  justify-content: space-between;
  width: 70%;
  padding-left: 20px;
  display: flex;
}

.reason-pix {
  min-height: 350px;
  position: relative;
  overflow: hidden;
}

.coose {
  background-color: var(--custom-reen);
  color: var(--white);
  padding: 20px;
}

.eac-coose {
  width: 48%;
  margin-bottom: 30px;
}

.coose-top-line {
  background-color: #344162;
  justify-content: center;
  align-items: stretch;
  height: 5px;
  margin-bottom: 3px;
  display: flex;
}

.coose-top-anim {
  background-color: var(--custom-reen);
  height: 100%;
}

.coose-top-anim.active {
  width: 100%;
}

.coose-body {
  color: var(--white);
  background-color: #232a3c;
  padding: 30px;
  font-size: 18px;
  position: relative;
}

.coose-icon {
  width: 50px;
  height: 60px;
  margin-bottom: 10px;
}

.coose-bold {
  color: rgba(157, 171, 222, 0.16);
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  position: absolute;
  top: 20px;
  bottom: auto;
  left: auto;
  right: 20px;
}

.eac-tec-service {
  width: 32%;
  position: relative;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.service-pix {
  height: 250px;
  position: relative;
  overflow: hidden;
}

.eac-serv-body {
  background-color: var(--white);
  align-items: flex-end;
  min-height: 200px;
  padding-bottom: 40px;
  padding-left: 20px;
  display: flex;
  position: relative;
}

.eac-serv-text {
  z-index: 3;
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  display: flex;
  position: relative;
}

.maint-line {
  background-color: var(--custom-reen);
  width: 1px;
  height: 10px;
  margin-bottom: 5px;
}

.maint-line.lon {
  height: 30px;
}

.maint-lines {
  margin-right: 10px;
}

.serv-title {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}

.serv-pix {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.serv-overlay {
  z-index: 0;
  opacity: 0;
  position: absolute;
  top: auto;
  bottom: -20px;
  left: 0%;
  right: 0%;
}

.serv-overlay.active {
  z-index: 5;
  opacity: 1;
  bottom: 0;
}

.serv-over-bd {
  background-color: var(--white);
  padding: 20px;
}

.serv-overlay-line {
  z-index: 4;
  border: 1px solid var(--custom-reen);
  text-align: left;
  padding: 20px;
  position: relative;
}

.serv-title-link {
  color: var(--dark-blue);
  margin-bottom: 20px;
  text-decoration: none;
}

.serv-title-link.active {
  color: var(--custom-reen);
}

.eac-plan {
  background-color: var(--white);
  padding-right: 40px;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.plan-ta {
  background-color: var(--dark-blue);
  color: var(--white);
  max-width: none;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.plan-ta.active {
  background-color: var(--custom-reen);
}

.plan-clip {
  background-color: var(--white);
  width: 20px;
  height: 80px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: -20px;
  transform: rotate(45deg);
}

.plan-price-bd {
  border-bottom: 1px solid #ededed;
  flex-flow: wrap;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 40px 0 20px;
  display: flex;
}

.plan-price {
  margin-top: -10px;
  margin-right: 10px;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
}

.price-symbol {
  font-size: 16px;
  font-weight: 600;
}

.plan-body {
  flex-flow: column;
  align-items: flex-start;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 0;
  display: flex;
}

.plan-list-dot {
  background-color: var(--custom-reen);
  width: 7px;
  min-width: 7px;
  height: 7px;
  margin-right: 20px;
  transform: rotate(45deg);
}

.plan-list-dot.inactive {
  background-color: var(--ash-text);
}

.price-list {
  color: var(--as-dark);
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  display: flex;
}

.price-list.inactive {
  color: var(--ash-text);
}

.plan-link {
  background-color: var(--custom-reen);
  color: var(--white);
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  text-decoration: none;
  display: flex;
}

.plan-link.active {
  border: 1px solid var(--custom-reen);
  background-color: var(--white);
  color: var(--custom-reen);
}

.plan-link-icon {
  margin-right: 10px;
}

.sop-eader {
  flex-flow: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
}

.sop-sort {
  min-width: 200px;
  margin-right: 20px;
  position: relative;
}

.sort-eader {
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 3px;
  justify-content: space-between;
  padding: 15px 10px;
  font-size: 16px;
  font-weight: 300;
  display: flex;
}

.cevron-icon {
  width: 20px;
}

.sort-drop {
  background-color: #f2f2f2;
  border-radius: 5px;
  height: 0;
  max-height: 200px;
  font-size: 16px;
  font-weight: 300;
  display: none;
  position: absolute;
  top: 40px;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.sort-drop.active {
  height: 200px;
  display: block;
  overflow: auto;
}

.sort-drop-text {
  cursor: pointer;
  border-bottom: 1px solid #d6d6d6;
  padding: 10px;
}

.sop-result {
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
}

.searc-wrap {
  background-color: var(--dark-blue);
  align-items: center;
  margin-left: auto;
  padding: 10px;
  display: flex;
}

.searc-box {
  background-color: var(--custom-reen);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 45px;
  margin-left: 10px;
  display: flex;
}

.image {
  width: 20px;
}

.searc-input {
  color: var(--ash-text);
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid #000;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
}

.product-rid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 40px;
}

.eac-product-rid {
  background-color: var(--white);
  text-align: center;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  display: flex;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.eac-product-rid.related {
  width: 23%;
  margin-top: 20px;
}

.product-pix {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 150px;
  margin-bottom: 10px;
  overflow: hidden;
}

.product-im {
  width: 100%;
  height: auto;
}

.product-name {
  color: var(--dark-blue);
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.product-name.active {
  color: var(--custom-reen);
}

.product-name.b {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.product-prices {
  color: var(--custom-reen);
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
}

.product-prices.b {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
}

.old-price {
  color: var(--ash-text);
  margin-right: 10px;
  text-decoration: line-through;
}

.pro-action-flex {
  border-top: 1px solid #d4d4d4;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 0;
  display: flex;
}

.pro-action-flex.no {
  border-top-width: 0;
  margin-top: 0;
  padding-top: 0;
}

.pro-action {
  background-color: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 25px;
  line-height: 30px;
  display: flex;
}

.pro-quantity {
  color: var(--custom-reen);
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.product-painate {
  justify-content: center;
  align-items: center;
  display: flex;
}

.product-pa-item {
  background-color: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  display: flex;
}

.product-pa-item.active {
  background-color: var(--custom-reen);
}

.product-pa-item.sm {
  background-color: var(--white);
  color: var(--custom-reen);
  width: 45px;
  min-width: 45px;
  height: 45px;
  margin-left: 0;
  margin-right: 20px;
  font-size: 30px;
  line-height: 30px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.12);
}

.product-pa-item.sm.active {
  background-color: var(--custom-reen);
  color: var(--white);
}

.ceck-out-btn {
  background-color: var(--custom-reen);
  color: var(--white);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
}

.ceck-out-btn.active {
  background-color: var(--dark-blue);
}

.bill-input {
  color: var(--dark-blue);
  border: 1px solid #dadada;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 10px;
  font-weight: 400;
}

.bill-input.contact.active {
  border-color: var(--custom-reen);
}

.load-btn {
  background-color: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  display: flex;
}

.blo-date {
  background-color: var(--custom-reen);
  color: var(--white);
  text-transform: uppercase;
  padding: 10px;
  font-weight: 300;
  position: relative;
  top: -20px;
}

.main-blo-title {
  color: var(--dark-blue);
  border-bottom: 1px solid #e2e2e2;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 35px;
  text-decoration: none;
}

.main-blo-title.sm {
  border-bottom-width: 0;
  margin-top: 40px;
  padding-bottom: 0;
  font-size: 20px;
  line-height: 25px;
}

.blo-read {
  background-color: var(--white);
  color: var(--dark-blue);
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.blo-read.active {
  background-color: var(--custom-reen);
  color: var(--white);
}

.searc-list-drop {
  z-index: 5;
  background-color: var(--dark-blue);
  height: 0;
  max-height: 200px;
  position: absolute;
  top: 70px;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.searc-link {
  color: var(--smoke);
  cursor: pointer;
  border-bottom: 1px solid #4d4d4d;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  display: block;
}

.aside-card {
  background-color: var(--white);
  padding: 20px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.eac-aside-news {
  color: var(--custom-reen);
  text-transform: uppercase;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  display: flex;
}

.aside-title {
  color: var(--dark-blue);
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.eac-aside-cateory {
  color: var(--dark-blue);
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.eac-aside-cateory.active {
  background-color: var(--custom-reen);
  color: var(--smoke);
}

.sinup-ceck {
  border: 2px solid var(--custom-reen);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 20px;
  min-width: 20px;
  height: 20px;
  display: flex;
}

.sinup-ceck.active {
  background-color: var(--custom-reen);
  margin-right: 10px;
}
.text-span {
  color: var(--custom-reen);
}

.not-back {
  background-color: var(--custom-reen);
  color: var(--white);
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.das-tb-body.sell {
  color: var(--custom-reen);
  font-weight: 500;
}

.overlay-btn.pass {
  background-color: var(--custom-reen);
  color: var(--white);
}

.overlay-btn.fail {
  background-color: #d1554c;
}

.overlay-btn.pad {
  margin-bottom: 10px;
}

.overlay-response {
  color: var(--custom-reen);
  margin-bottom: 20px;
  font-weight: 400;
}

.tb-info.pass {
  color: var(--custom-reen);
  font-weight: 700;
}

.tb-info.fail {
  color: #e34141;
}

.tb-info.amount {
  margin-left: auto;
}

.tb-info.amount.sell {
  color: var(--custom-reen);
  font-family: Lexend, sans-serif;
  font-weight: 500;
}

.trans-approve {
  background-color: var(--custom-reen);
  color: var(--white);
  cursor: pointer;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 300;
}

.das-response {
  color: var(--custom-reen);
  text-align: center;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

@media screen and (max-width: 991px) {
  .menu.active {
    background-color: var(--custom-reen);
  }
}

.das-nav-items.active {
  color: #fff;
}

.overlay-btn {
  color: #fff;
}

.tb-action-text {
  color: #fff;
}
